/.Xauthority
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.chomkdirdone
/.config
/.cusmkdirdone
/.cwebdirdone
/.emacs
/.gconf
/.gnupg
/.ipython
/.local
/.mono
/.mozilla
/.pki
/.profile
/.ssh
/.viminfo
/.vscode
/.vscode-server
/.wget-hsts
/.x2go
/.xsession-x2go-wax.cs.rutgers.edu-errors
/.xsession-x2go-wax.cs.rutgers.edu-errors.old
/.zcompdump
/.zsh_history
/.zshrc
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Videos
/cs211
/cs214
/cs439
/cs440
/examples.desktop